node_modules/
.env
.env*
.gitignore
Dockerfile
.dockerignore
.git
docker-compose.yaml
comandos_docker.txt


Dockerfile
Dockerfile.dev
docker*.yml
.git
.gitignore
.config
.npm
.vscode
node_modules
README.md
